<!-- get in touch -->

<section class="section position-relative">
    <div class="container main-container clearfix">
        <div class="col-md-6">
            <img src="assets/img/get_intouch/p_home_connect.svg" class="img-responsive" alt="" />
        </div>
        <div class="col-md-6">
            <h3 class="uppercase">Attention to details is a fundamental <br>component of fine design!</h3>
            <h2 class="section-title text-white mb-5">Read <a href="https://curlydesigner.com/about.html"> lets get in touch</a></h2>

        </div>
    </div>
</section>
<!-- /get in touch -->