<section class="section position-relative highlighted-section text-center">

    <div class="container main-container">
        <div class="col-md-12">
            <h3 class="uppercase">WHAT I DO</h3>
        </div>
    </div>

    <div class="container main-container">

           <!-- service-box -->
           <div class="col-md-4 service-box">
            <ion-icon src="/assets/img/about/about_ux_1.svg"></ion-icon>
            <i class="ion-android-favorite-outline size-50"></i>
            <h4 class="section-title text-white mb-5"> <a href="/category/blog.html"> USER BEHAVIOR
                <br>UX RESEARCH </a></h4>
    
            <div class="h-10"></div>
            <p class="text-align-left">I have been researching user behavior, journey maps and competitors'.
                Analyzing data-driven insights and content to address users' needs. Considering relevant technologies,
                information architecture mockups and final design elements. Read my research and design thinking. </p>

                <h4 class="section-title text-white mb-5"> <a href="/category/blog.html"> MY RESEARCH > </a></h4>

        </div>
        <!-- end service-box -->

     

        <!-- service-box -->
        <div class="col-md-4 service-box">
            <ion-icon src="/assets/img/about/about_ux_2.svg"></ion-icon>
            <i class="ion-android-options size-50"></i>
            <h4 class="section-title text-white mb-5"> <a href="/about.html"> INNOVATIVE & CREATIVE
                <br>DESIGN THINKING </a></h4>
            
            <div class="h-10"></div>
            <p class="text-align-left">My experience includes working from research to concept development through final
                design details. With a focus on human-centered, creative problem-solving and innovative/functional
                products that improve people's lives. </p>

                <h4 class="section-title text-white mb-5"> <a href="/about.html"> ABOUT MY EXPERIENCE > </a></h4>

        </div>
        <!-- end service-box -->

           <!-- service-box -->
           <div class="col-md-4  service-box">
            <ion-icon src="/assets/img/about/about_ux_3.svg"></ion-icon>
            <i class="ion-ios-pulse-strong size-50"></i>
            <h4 class="section-title text-white mb-5"> <a href="/category/portfolio.html"> UX UI IxD <br>DESIGN & ILLUSTRATION </a></h4>
            <div class="h-10"></div>
            <p class="text-align-left">With hands-on, comprehensive design experience - both for web and mobile UI,
                information architecture, user flows, wireframes, interactive mockups, game environments, illustrations,
                infographics, video editing, and effects. View my works in gaming, entertainment, eCommerce, cyber security, fashion, beauty & more </p>

                <h4 class="section-title text-white mb-5"> <a href="/category/portfolio.html"> VIEW MY WORKS > </a></h4>

        </div>
        <!-- end service-box -->

       
    </div>
</section>