<!-- about intro -->
<section class="section position-relative">
    <div class="container main-container clearfix">
        <div class="col-md-6">
            <img src="assets/img/homepage/readmore_research-book.svg" class="img-responsive" alt="" />
        </div>
        <div class="col-md-6">
           <h3><em>'DESIGNER' is not just my title - it is who I am!</em></h3><br>

            <div class="h-32"></div>
            <p> I have been fascinated by the blend of aesthetics, architecture, cultures and Product design since childhood. My academic journey started at Fine Arts and Design school, then diving deeper into six years of Bachelor's in Interior Architecture and a Master's in Human Interaction.
                    
                    <br>
    
                    Professionally, I have hands-on, comprehensive design experience - working throughout the entire product life-cycle, ranging from consumers to large corporate enterprises. 
                    
                    <br>
                    My philosophy is the core of creating better products for humanity and our ability to contribute to making technology more inclusive and user-friendly. 
                    I am driven by a desire for excellence and my problem-solving skills allow me to break down complex design challenges into intuitive experiences. 
                    Ensuring the end result is highly functional, visually appealing, accessible to all, and meets product objectives.
    
                <br>
                <br>
    
    
                    Let's connect 
                </p>
     <div class="col-md-6 service-box-link">
        <h4 class="section-title text-white mb-5"> <a href="/about.html"> ABOUT MY EXPERIENCE > </a></h4>
    </div>

        </div>
    </div>
</section>
<!-- end about intro -->

