<!-- Main container -->
<section class="section position-relative highlighted-section text-center"></section>
<section class="section position-relative">
    <div class="container main-container clearfix">
        <div class="col-md-6">
            <img src="assets/img/homepage/readmore_research-book.svg" class="img-responsive" alt="" />
        </div>
        <div class="col-md-6">
           <h3><em>'DESIGNER' is not just my title - it is who I am!</em></h3><br>

            <div class="h-32"></div>
            <p>With hands-on, comprehensive design experience - working throughout the entire product life-cycle. 
                Driven by a desire for excellence, my approach is rooted in a deep understanding of user needs and a commitment to delivering solutions that enhance their experience. 
                Ensuring the end result is accessible, highly functional, visually appealing, and meets product objectives.
     <div class="col-md-6 service-box-link">
        <h4 class="section-title text-white mb-5"> <a href="/about.html"> ABOUT MY EXPERIENCE > </a></h4>
    </div>

        </div>
    </div>
</section>
<!-- end Main container -->

