
<!-- about intro -->
<section class="section position-relative about-intro">
    <div class="container main-container clearfix">
        <div class="col-md-6 about-intro-image">
            <img src="assets/img/about/about-h.png" class="img-responsive" alt="" />
        </div>
        <div class="col-md-6">
            <h3><em>End-to-end design thinking. <br>->From research to real-world results.<br></em></h3>

            <div class="h-32"></div>

            <div class="about-intro-text">
                <p class="mb-3">
                    My path into design began with a fascination for how culture and design shape the way we live and connect. I am rooted in deep empathy for human-centered design and accessibility.
                </p>

                <p class="mb-3">
                    Evolving from visual design into a holistic UX/UI product designer, I shape end-to-end experiences. I am currently expanding my research on how AI and emerging technologies can bridge the physical and digital worlds in more meaningful, human ways.
                </p>

                <p class="mb-0">
                    My philosophy centers on creating better products for humanity and making technology more inclusive and user-friendly. I am driven by a desire for excellence; my problem-solving skills allow me to break down complex design challenges into intuitive, accessible, and visually appealing solutions that meet product objectives.
                </p>
            </div>
<br>

            <div class="service-box-link">
                <h4 class="section-title text-white mb-5">
                    <a href="/about.html">🔗 About Me</a>
                    <a href="https://www.linkedin.com/in/curlydesigner/">🔗 My Linkedin</a>
                    <a href="/resume.html">🔗 My Resume</a>
                </h4>
            </div>
        </div>
    </div>
</section>
<!-- end about intro -->

