<section class="section position-relative highlighted-section text-center">

    <div class="container main-container">
        <div class="col-md-12">
            <h3 class="uppercase">WHAT I DO</h3>
        </div>
    </div>

    <div class="container main-container">

        <!-- service-box -->
        <div class="col-md-4 service-box">
            <ion-icon src="/assets/img/about/about_ux_1.svg"></ion-icon>
            <i class="ion-android-favorite-outline size-50"></i>
            <h4 class="section-title text-white mb-5">
                End-to-End UX
                <br>Product Design Thinking
            </h4>

            <div class="h-10"></div>
            <p class="text-align-left">I design products from discovery through delivery - grounded in user behavior,
                research insights, and strategic thinking. My process includes information architecture, user flows,
                prototypes, wireframes, and scalable design systems.</p>

        </div>
        <!-- end service-box -->

        <!-- service-box -->
        <div class="col-md-4 service-box">
            <ion-icon src="/assets/img/about/about_ux_2.svg"></ion-icon>
            <i class="ion-android-options size-50"></i>
            <h4 class="section-title text-white mb-5">Reasearch<br>Emerging Technologies <br>Business Strategy</h4>

            <div class="h-10"></div>
            <p class="text-align-left">Grounded in research, shaped by innovation. I connect human needs with business
                goals exploring how emerging technologies and ecosystems—enhance the way people interact. I focus on
                designing purposeful experiences rooted in empathy and real-world impact. </p>
        </div>
        <!-- end service-box -->

        <!-- service-box -->
        <div class="col-md-4 service-box">
            <ion-icon src="/assets/img/about/about_ux_3.svg"></ion-icon>
            <i class="ion-ios-pulse-strong size-50"></i>
            <h4 class="section-title text-white mb-5"> Visual Storytelling <br> Interaction Design </h4>
            <div class="h-10"></div>
            <p class="text-align-left">With hands-on, comprehensive design experience - both for web and mobile, I
                create UI components, wireframes, interactive mockups, illustrations, infographics, data visualization,
                iconography, video editing, and effects. </p>
        </div>
        <!-- end service-box -->

    </div>



    </div>
</section>