<!-- get in touch -->
<section class="section position-relative highlighted-section">
    <div class="container main-container clearfix get-in-touch">
        <div class="col-xs-3 col-xs-offset-2">
            <img src="/assets/img/homepage/readmore_research-book.svg" class="img-responsive" alt="" />
        </div>
        <div class="col-xs-10">
            <h5 class="section-title text-white mb-5">Want to see more?</h5> 
            <h4>Design Thinking, User Behavior, UX/UI Research, Innovation & Design Thinking - Read my posts</h4>
            <br>
            <h4>Gaming, Entertainment, eCommerce, Branding, Advertising, Fashion, Beauty, Cyber Security, Privacy and Productivity - View my works </h4>
        
        </div>
    </div>
</section>
<!-- /get in touch -->
