<section class="section position-relative highlighted-section text-center">
    <div class="container main-container">

        <!-- service-box -->
        <div class="col-md-4 service-box">
            <ion-icon src="/assets/img/homepage/readmore_research-book.svg"></ion-icon>
            <i class="ion-android-favorite-outline size-50"></i>
           
            <div class="h-10"></div>
            <p class="text-align-left">Read what I write about, some of my research and design thinking about user behavior, UX/UI review & innovations</p>
        

            <h3 class="section-title text-white mb-4"> <a href="/category/blog.html"> Design Thinking > </a></h3>
        </div>
        <!-- end service-box -->

        <!-- service-box -->
        <div class="col-md-4 service-box">
            <ion-icon src="/assets/img/homepage/readmore_work-book.svg"></ion-icon>
            <i class="ion-android-options size-50"></i>
            <div class="h-10"></div>
            <p class="text-align-left">View my works in gaming, entertainment, eCommerce, cyber security, fashion, beauty & more</p>
            
            <h3 class="section-title text-white mb-4"> <a href="/category/portfolio.html"> View my Works > </a></h3>
        </div>
        <!-- end service-box -->

        <!-- service-box -->
        <div class="col-md-4 service-box">
            <ion-icon src="/assets/img/homepage/readmore_work-book.svg"></ion-icon>
            <i class="ion-android-options size-50"></i>
            <div class="h-10"></div>
            <p class="text-align-left">From research to design thinking, through concept development and final design details.</p>
        
            <h3 class="section-title text-white mb-4"> <a href="/category/portfolio.html"> About Me > </a></h3>
        </div>
        <!-- end service-box -->
    </div>
</section>