<section class="section position-relative highlighted-section text-center">
    <div class="container main-container">

         <!-- Portfolio-box -->
         <div class="col-md-4 service-box">
            <ion-icon src="/assets/img/homepage/readmore_work-book.svg"></ion-icon>
            <i class="ion-android-options size-50"></i>
            <div class="h-10"></div>
            <p class="text-align-left">View my works in gaming, entertainment, eCommerce, cyber security, fashion, beauty & more</p>
            
            <h3 class="section-title text-white mb-4"> <a href="/category/portfolio.html"> View my Works > </a></h3>
        </div>
        <!-- Portfolio end-box -->
        
        <!-- Blog-box -->
        <div class="col-md-4 service-box">
            <ion-icon src="/assets/img/homepage/readmore_research-book.svg"></ion-icon>
            <i class="ion-android-favorite-outline size-50"></i>
           
            <div class="h-10"></div>
            <p class="text-align-left">Read some of my research and design thinking about user behavior, UX/UI & innovations</p>
        

            <h3 class="section-title text-white mb-4"> <a href="/category/blog.html"> View Blog posts > </a></h3>
        </div>
        <!-- Blog end-box -->

      

        <!-- About-box -->
        <div class="col-md-4 service-box">
            <ion-icon src="/assets/img/homepage/readmore_work-book.svg"></ion-icon>
            <i class="ion-android-options size-50"></i>
            <div class="h-10"></div>
            <p class="text-align-left">From research to design thinking, through concept development and final design details.</p>
        
            <h3 class="section-title text-white mb-4"> <a href="/category/portfolio.html"> View About Me > </a></h3>
        </div>
        <!-- About end-box -->
    </div>
</section>