<!-- client logo slider -->
<section class="section pb-0 text-center">

        <div class="container main-container">
                <div class="col-md-12">
                    <h3 class="uppercase">Some of the companies I worked at</h3>
                </div>
            </div>

        <div class="container">
                <div class=" d-flex align-items-center">
                        <a class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
                                        src="/assets/img/clients-logo/client-logo-7.png" alt="client-logo"></a>
                        <a href="#" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
                                                src="/assets/img/clients-logo/client-logo-3.png" alt="compass"></a>
                        <a href="#" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
                                                        src="/assets/img/clients-logo/client-logo-4.png" alt="BlackBerry"></a>
                        <a href="#" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
                                                                src="/assets/img/clients-logo/client-logo-8.png" alt="Cineplex"></a>

                        <a href="#" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
                                        src="/assets/img/clients-logo/client-logo-1.png" alt="Middlesex University"></a>
                        <a href="#" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
                                                src="/assets/img/clients-logo/client-logo-6.png" alt="client-logo"></a>
                        <a href="#" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
                                                        src="/assets/img/clients-logo/client-logo-11.png" alt="client-logo"></a>
                        <a href="#" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
                                        src="/assets/img/clients-logo/client-logo-2.png" alt="bwin party entertainment"></a>                        
                       
                    
                        


                                               

                </div>
        </div>
</section>
<!-- /client logo slider -->