<!-- client logo slider -->
<section class="section pb-0">
        <div class="container">
                <div class="client-logo-slider d-flex align-items-center">
                        <a class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
                                        src="/assets/img/clients-logo/client-logo-7.png" alt="client-logo"></a>
                        <a href="#" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
                                                src="/assets/img/clients-logo/client-logo-3.png" alt="compass"></a>
                        <a href="#" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
                                                        src="/assets/img/clients-logo/client-logo-4.png" alt="BlackBerry"></a>
                        <a href="#" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
                                                                src="/assets/img/clients-logo/client-logo-5.png" alt="Cineplex"></a>
                        <a href="#" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
                                        src="/assets/img/clients-logo/client-logo-1.png" alt="Middlesex University"></a>
                        <a href="#" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
                                        src="/assets/img/clients-logo/client-logo-2.png" alt="bwin party entertainment"></a>
                        <a href="#" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
                                        src="/assets/img/clients-logo/client-logo-6.png" alt="client-logo"></a>

                </div>
        </div>
</section>
<!-- /client logo slider -->