<!-- get in touch -->
<section class="section position-relative highlighted-section">
    <div class="container main-container clearfix get-in-touch">
        <div class="col-xs-5 col-xs-offset-2">
            <img src="assets/img/get_intouch/p_home_connect.svg" class="img-responsive" alt="" />
        </div>
        <div class="col-xs-3">
            <h2 class="section-title text-white mb-5">Lets get in touch!</h2>
            <ul class="social-ul">
                <li class="box-social"><a target="_blank" href="https://www.linkedin.com/in/curlydesigner/">
                        <ion-icon name="logo-linkedin"></ion-icon>
                    </a></li>
                <li class="box-social"><a target="_blank" href="https://www.behance.net/curlydesigner">
                        <ion-icon name="logo-behance"></ion-icon>
                    </a></li>

                <li class="box-social"><a target="_blank" href="mailto: victoria@curlydesigner.com">
                        <ion-icon name="mail-outline"></ion-icon>
                    </a></li>
            </ul>
        </div>
    </div>
</section>
<!-- /get in touch -->
