<!-- testimonial -->
<section class="section testimonials position-relative">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="section-title text-white mb-5">Portfolio</h2>
            </div>
            <div class="col-lg-12">
                <div class="text-center testimonial-content">
                    <i class="ti-quote-right text-white icon mb-4 d-inline-block"></i>
                    <br>
                    <p class="text-white mb-4">

                        As the executive parliament assistant, I worked directly with Victoria and had frequent
                        brainstorms with her. So it came to not only knowing her professionally but personally and
                        having an in-depth knowledge of her skills. The most impressive thing is that Victoria is a true
                        professional, determined to contribute where needed, proactive in planning and problem-solving,
                        a team player who builds relationships with people at all levels, and works exceptionally well
                        independently.
                        Another key success measure is Victoria's ability to communicate well with the customers. She
                        grasps concepts and feedback brought by others and responds quickly with feasible implementation
                        models.
                        Victoria is a creative thinker and a hard worker with a fresh vision, and I would easily
                        recommend her as a part of any design firm or position. She consistently achieved excellent
                        results and delivered on all expectations. I have no doubts that she would be a valuable asset
                        to any employer.</p>
                    <img class="img-fluid rounded-circle mb-4 d-inline-block"
                        src="/assets/img/testimonial/client-1-elena.png" alt="client-image">
                    <h4 class="text-white">Elena Peres</h4>
                    <h6 class="text-light mb-4">PR & Parliamentary Adviser</h6>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- /testimonial -->