<!-- get in touch -->
<section class="section position-relative highlighted-section">
    <div class="container main-container clearfix get-in-touch">
        <div class="col-xs-3 col-xs-offset-2">
            <img src="assets/img/get_intouch/p_home_connect.svg" class="img-responsive" alt="" />
        </div>
        <div class="col-xs-5">
            <h2 class="section-title text-white mb-5">Want to know what I write about? <br> read my blog!</h2>
           
        </div>
    </div>
</section>
<!-- /get in touch -->
