<div class=" home-header-wrap">
    <div class="header-content-wrap ">
        <div class="container">
            <h1 class="intro-text">Hello, I am an Interactive Digital Designer &amp; Illustrator</h1>
            <div class="buttons"><a href="/portfolio/" class="btn btn-primary custom-button red-btn">View
                    my portfolio</a><a href="category/blog/" class="btn btn-primary custom-button green-btn">Read
                    my Blog</a></div>
        </div>
    </div><!-- .header-content-wrap -->
    <div class="clear"></div>
</div>