<!-- box-intro -->
<section class="box-intro">
    <div class="table-cell">
        <div class="container">
            <h2 class="text-align-left">Hello,</h2>
            <h2 class="text-align-left">I'm Victoria</h2>

              <h5 class="text-align-left">Designing human-centered <strong>EXPERIENCES</strong></h5>
              <h5 class="text-align-left">through <strong>RESEARCH</strong></h5>
              <h5 class="text-align-left">end-to-end <strong>DESIGN THINKING</strong></h5> 
               <h5 class="text-align-left">and <strong>VISUAL</strong> storytelling.</h5>  
          
            

             <h1 class="box-headline letters rotate-2">
                <span class="box-words-wrapper">
                    {% for word in site.intro.words %}
                    {% if forloop.first %}
                    <b class="is-visible">{{ word }}</b>
                    {% else %}
                    <b>{{ word }}</b>
                    {% endif %}
                    {% endfor %}
                </span>
            </h1>
        
           <h3 class="text-align-left">MBA AI + MA. IXD DESIGN <br> B. DESIGN ARCHITECTURE + F. ARTS</h3>
                    
                <h4 class="text-align-left lets-meet">Let's get in touch!</h4>


        </div>
    </div>
    <div class="mouse">
        <div class="scroll"></div>
    </div>
</section>
<!-- end box-intro -->