<!-- box-intro -->
<section class="box-intro">
    <div class="table-cell">
        <div class="box-greeting">
            <h3 class="text-align-left">Hello, I'm Victoria :-)</h3>
            <h5 class="text-align-left">Passionate Designer - crafting ideas to life.</h5>
        </div>
        <h5 class="text-align-left">{{ site.intro.title }}</h5>
        <h1 class="box-headline letters rotate-2">
            <span class="box-words-wrapper">
                {% for word in site.intro.words %}
                {% if forloop.first %}
                <b class="is-visible">{{ word }}</b>
                {% else %}
                <b>{{ word }}</b>
                {% endif %}
                {% endfor %}
            </span>
        </h1>
    </div>

    <div class="mouse">
        <div class="scroll"></div>
    </div>
</section>
<!-- end box-intro -->