<!-- read my blog -->
<section class="section position-relative highlighted-section">
    <div class="container main-container clearfix read-my-blog">
        <div class="col-xs-3 col-xs-offset-2">
            <img src="assets/img/get_intouch/p_home_connect.svg" class="img-responsive" alt="" />
        </div>
        <div class="col-xs-5">
            <h2 class="section-title text-white mb-5">INDUSTRY EXPERIENCE:
                Gaming
                Entertainment
                eCommerce
                Brand Marketing Advertising
                Fashion, Beauty and Cosmetics
                Cyber Security
                Productivity and Privacy
                Exhibitions
                Event Management
Want to know what I write about? <br> Read my Blog!</h2>
           
        </div>
    </div>
</section>
<!-- read my blog -->
