<!-- jQuery -->
<script src="/assets/js/jquery-2.1.1.js"></script>
<!--  plugins -->
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/menu.js"></script>
<script src="/assets/js/animated-headline.js"></script>
<script src="/assets/js/isotope.pkgd.min.js"></script>

<!-- slick slider -->
<script src="/assets/js/plugins/slick/slick.min.js"></script>

<!--  custom script -->
<script src="/assets/js/custom.js"></script>
<!--  ionicons script -->
<script type="module" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"></script>