<div class="sidebar-wrap col-md-3 content-left-wrap">


    <div id="secondary" class="widget-area" role="complementary">


        <aside id="categories-2" class="widget widget_categories">
            <h2 class="widget-title">Works</h2>
            <ul>
                <li class="cat-item cat-item-3"><a href="http://curlydesigner.com/category/3d-designs/">3D
                        &amp;
                        Environmental Graphic Designs</a>
                </li>
                <li class="cat-item cat-item-9"><a href="http://curlydesigner.com/category/motion-interactive/">Animation
                        and Interactive</a>
                </li>
                <li class="cat-item cat-item-55"><a href="http://curlydesigner.com/category/blog/">Blog</a>
                </li>
                <li class="cat-item cat-item-6"><a href="http://curlydesigner.com/category/bwin-party/">BWIN.Party</a>
                </li>
                <li class="cat-item cat-item-64"><a href="http://curlydesigner.com/category/fashionbeauty/">Fashion/Beauty</a>
                </li>
                <li class="cat-item cat-item-61"><a href="http://curlydesigner.com/category/game-design/">Game
                        Design</a>
                </li>
                <li class="cat-item cat-item-7"><a href="http://curlydesigner.com/category/illustrations-for-animation/">Illustrations</a>
                </li>
                <li class="cat-item cat-item-8"><a href="http://curlydesigner.com/category/ma-interactive/">MA
                        Interactive</a>
                </li>
                <li class="cat-item cat-item-63"><a href="http://curlydesigner.com/category/mobile/">Mobile</a>
                </li>
                <li class="cat-item cat-item-10"><a href="http://curlydesigner.com/category/portfolio/">Portfolio</a>
                </li>
                <li class="cat-item cat-item-11"><a href="http://curlydesigner.com/category/print-graphics/">Print
                        Graphics</a>
                </li>
                <li class="cat-item cat-item-5"><a href="http://curlydesigner.com/category/b-design/">Research</a>
                </li>
                <li class="cat-item cat-item-12"><a href="http://curlydesigner.com/category/slideshow/" title="Slideshow images display">SlideShow</a>
                </li>
                <li class="cat-item cat-item-13"><a href="http://curlydesigner.com/category/tesco-works/">Tesco-works</a>
                </li>
                <li class="cat-item cat-item-1"><a href="http://curlydesigner.com/category/uncategorized/">Uncategorized</a>
                </li>
                <li class="cat-item cat-item-71"><a href="http://curlydesigner.com/category/ux-interactive/">UX
                        &amp; Interactive</a>
                </li>
                <li class="cat-item cat-item-14 current-cat"><a href="http://curlydesigner.com/category/web-design-ux-ui/">Web
                        Design</a>
                </li>
                <li class="cat-item cat-item-15"><a href="http://curlydesigner.com/category/weddings/">Weddings</a>
                </li>
            </ul>
        <!-- </aside>
        <aside id="tag_cloud-10" class="widget widget_tag_cloud">
            <h2 class="widget-title">Tags</h2>
            <div class="tagcloud"><a href="http://curlydesigner.com/tag/3d/" class="tag-cloud-link tag-link-16 tag-link-position-1"
                    style="font-size: 14.461538461538pt;" aria-label="3D (3 items)">3D</a>
                <a href="http://curlydesigner.com/tag/after-effects/" class="tag-cloud-link tag-link-17 tag-link-position-2"
                    style="font-size: 8pt;" aria-label="After Effects (1 item)">After Effects</a>
                <a href="http://curlydesigner.com/tag/banners/" class="tag-cloud-link tag-link-18 tag-link-position-3"
                    style="font-size: 19.846153846154pt;" aria-label="Banners (6 items)">Banners</a>
                <a href="http://curlydesigner.com/tag/blog/" class="tag-cloud-link tag-link-56 tag-link-position-4"
                    style="font-size: 14.461538461538pt;" aria-label="Blog (3 items)">Blog</a>
                <a href="http://curlydesigner.com/tag/branding/" class="tag-cloud-link tag-link-57 tag-link-position-5"
                    style="font-size: 8pt;" aria-label="Branding (1 item)">Branding</a>
                <a href="http://curlydesigner.com/tag/entertainment/" class="tag-cloud-link tag-link-24 tag-link-position-6"
                    style="font-size: 18.338461538462pt;" aria-label="Entertainment (5 items)">Entertainment</a>
                <a href="http://curlydesigner.com/tag/environmental-graphic-design/" class="tag-cloud-link tag-link-66 tag-link-position-7"
                    style="font-size: 11.876923076923pt;" aria-label="Environmental Graphic Design (2 items)">Environmental
                    Graphic Design</a>
                <a href="http://curlydesigner.com/tag/exhibitions-design/" class="tag-cloud-link tag-link-25 tag-link-position-8"
                    style="font-size: 14.461538461538pt;" aria-label="Exhibitions Design (3 items)">Exhibitions
                    Design</a>
                <a href="http://curlydesigner.com/tag/flash/" class="tag-cloud-link tag-link-27 tag-link-position-9"
                    style="font-size: 11.876923076923pt;" aria-label="Flash (2 items)">Flash</a>
                <a href="http://curlydesigner.com/tag/graphics/" class="tag-cloud-link tag-link-28 tag-link-position-10"
                    style="font-size: 20.923076923077pt;" aria-label="Graphics (7 items)">Graphics</a>
                <a href="http://curlydesigner.com/tag/icons/" class="tag-cloud-link tag-link-65 tag-link-position-11"
                    style="font-size: 8pt;" aria-label="Icons (1 item)">Icons</a>
                <a href="http://curlydesigner.com/tag/illustrations-for-animation/" class="tag-cloud-link tag-link-67 tag-link-position-12"
                    style="font-size: 19.846153846154pt;" aria-label="Illustrations (6 items)">Illustrations</a>
                <a href="http://curlydesigner.com/tag/indesign/" class="tag-cloud-link tag-link-29 tag-link-position-13"
                    style="font-size: 8pt;" aria-label="InDesign (1 item)">InDesign</a>
                <a href="http://curlydesigner.com/tag/interactive/" class="tag-cloud-link tag-link-70 tag-link-position-14"
                    style="font-size: 8pt;" aria-label="Interactive (1 item)">Interactive</a>
                <a href="http://curlydesigner.com/tag/journey-map/" class="tag-cloud-link tag-link-69 tag-link-position-15"
                    style="font-size: 8pt;" aria-label="Journey Map (1 item)">Journey Map</a>
                <a href="http://curlydesigner.com/tag/layout-wireframe/" class="tag-cloud-link tag-link-34 tag-link-position-16"
                    style="font-size: 8pt;" aria-label="Layout &amp; Wireframe (1 item)">Layout &amp; Wireframe</a>
                <a href="http://curlydesigner.com/tag/mobile/" class="tag-cloud-link tag-link-35 tag-link-position-17"
                    style="font-size: 11.876923076923pt;" aria-label="Mobile (2 items)">Mobile</a>
                <a href="http://curlydesigner.com/tag/motion/" class="tag-cloud-link tag-link-36 tag-link-position-18"
                    style="font-size: 8pt;" aria-label="Motion (1 item)">Motion</a>
                <a href="http://curlydesigner.com/tag/navigation-ui/" class="tag-cloud-link tag-link-37 tag-link-position-19"
                    style="font-size: 16.615384615385pt;" aria-label="Navigation &amp; UI (4 items)">Navigation
                    &amp; UI</a>
                <a href="http://curlydesigner.com/tag/newsletter/" class="tag-cloud-link tag-link-38 tag-link-position-20"
                    style="font-size: 8pt;" aria-label="Newsletters (1 item)">Newsletters</a>
                <a href="http://curlydesigner.com/tag/photoshop/" class="tag-cloud-link tag-link-39 tag-link-position-21"
                    style="font-size: 22pt;" aria-label="Photoshop (8 items)">Photoshop</a>
                <a href="http://curlydesigner.com/tag/print/" class="tag-cloud-link tag-link-42 tag-link-position-22"
                    style="font-size: 11.876923076923pt;" aria-label="Print (2 items)">Print</a>
                <a href="http://curlydesigner.com/tag/research/" class="tag-cloud-link tag-link-43 tag-link-position-23"
                    style="font-size: 11.876923076923pt;" aria-label="research (2 items)">research</a>
                <a href="http://curlydesigner.com/tag/typography/" class="tag-cloud-link tag-link-45 tag-link-position-24"
                    style="font-size: 14.461538461538pt;" aria-label="Typography (3 items)">Typography</a>
                <a href="http://curlydesigner.com/tag/ux/" class="tag-cloud-link tag-link-48 tag-link-position-25"
                    style="font-size: 16.615384615385pt;" aria-label="UX / UI (4 items)">UX / UI</a>
                <a href="http://curlydesigner.com/tag/web-design/" class="tag-cloud-link tag-link-49 tag-link-position-26"
                    style="font-size: 16.615384615385pt;" aria-label="Web design (4 items)">Web design</a>
                <a href="http://curlydesigner.com/tag/weddings/" class="tag-cloud-link tag-link-68 tag-link-position-27"
                    style="font-size: 11.876923076923pt;" aria-label="Weddings (2 items)">Weddings</a></div>
        </aside> -->
        <aside id="recent-posts-2" class="widget widget_recent_entries">
            <h2 class="widget-title">Recent Posts</h2>
            <ul>
                <li>
                    <a href="http://curlydesigner.com/labella-umbrella/">LABELLA-UMBRELLA Online Accessories
                        store</a>
                </li>
                <li>
                    <a href="http://curlydesigner.com/customer-satisfaction-kiosk/">CUSTOMER EXPERIENCE,
                        SATISFACTION KIOSK &#8211; COMPASS GROUP</a>
                </li>
                <li>
                    <a href="http://curlydesigner.com/e-commerce-fashion/">FASHION eCOMMERCE WEBSITES WITH
                        STYLE.</a>
                </li>
                <li>
                    <a href="http://curlydesigner.com/simydeal-shopping/">SiMyDeal &#8211; The Future of
                        Shopping</a>
                </li>
                <li>
                    <a href="http://curlydesigner.com/fin-mobile-app/">Financial Mobile App</a>
                </li>
            </ul>
        </aside>
    </div><!-- #secondary -->
</div><!-- .sidebar-wrap -->