<!-- testimonial -->
<section class="section bg-primary position-relative testimonial-bg-shapes">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="section-title text-white mb-5">Testimonials</h2>
            </div>
            <div class="col-lg-12 mx-auto testimonial-slider">
              
                  <!-- slider-item -->
                  
                  <div class="text-center testimonial-content">
                    <i class="ti-quote-right text-white icon mb-4 d-inline-block"></i>
                    <br>
                    <p class="text-white mb-4">
                        <img class="img-fluid rounded-circle mb-4 d-inline-block" src="/assets/img/testimonial/client-1-elena.png"
                        alt="client-image"> <h4 class="text-white">Elena Peres</h4>
                        <h6 class="text-light mb-4">PR & Parliamentary Adviser</h6>
                        As the executive parliament assistant, I worked directly with Victoria and had frequent brainstorms with her. So it came to not only knowing her professionally but personally and having an in-depth knowledge of her skills. The most impressive thing is that Victoria is a true professional, determined to contribute where needed, proactive in planning and problem-solving, a team player who builds relationships with people at all levels, and works exceptionally well independently.
Another key success measure is Victoria's ability to communicate well with the customers. She grasps concepts and feedback brought by others and responds quickly with feasible implementation models.
Victoria is a creative thinker and a hard worker with a fresh vision, and I would easily recommend her as a part of any design firm or position. She consistently achieved excellent results and delivered on all expectations. I have no doubts that she would be a valuable asset to any employer.</p>
                    
                </div>
                
                  <!-- slider-item -->
                  <div class="text-center testimonial-content">
                    <i class="ti-quote-right text-white icon mb-4 d-inline-block"></i>
                    <p class="text-white mb-4">
                        <img class="img-fluid rounded-circle mb-4 d-inline-block" src="/assets/img/testimonial/client-2-ray.png"
                        alt="client-image">
                    <h4 class="text-white">Ray Janjua</h4>
                    <h6 class="text-light mb-4">Research Consultant</h6>
                        Victoria and I worked together at Venus TV Ltd Global, at the visuals department. The moment I met her I was very impressed with her work and her pleasant can-do attitude. 

                All I needed to do was give Victoria the material she required and I could expect good quality work, she did her magic. 
                        Victoria is an ambitious designer with ideas so extraordinary, I cannot imagine anyone not willing to hire her. She has a very positive attitude, has patience and is able to work as part of a team as well as on her own initiative. She has shown commitment, punctuality, the ability to adapt quickly and will be an invaluable asset to any future employers. If I was to ever get a chance to work with Victoria again, I would be very delighted. I thank for her contribution at Venus TV Global Ltd and wish her all the very best.</p>
                    
                </div>
                <!-- slider-item -->
                <div class="text-center testimonial-content">
                    <i class="ti-quote-right text-white icon mb-4 d-inline-block"></i>
                    <p class="text-white mb-4">
                        <img class="img-fluid rounded-circle mb-4 d-inline-block" src="/assets/img/testimonial/client-3-graham.png"
                        alt="client-image">
                    <h4 class="text-white">Graham David Beard</h4>
                    <h6 class="text-light mb-4">Creative Team Lead</h6>
                    I very much enjoyed working with Victoria as she is an extremely creative and experienced designer. With a great eye for detail she can really understand the true requirements of a creative brief and adapt her creativity for both online and offline solutions. Whilst we worked together she supported a wide range of promotional campaigns, offering her full commitment and passion which reflected within the high standards she set within the team.</p>
                   
                </div>
                <!-- slider-item -->
                <div class="text-center testimonial-content">
                    <i class="ti-quote-right text-white icon mb-4 d-inline-block"></i>
                    <p class="text-white mb-4">
                        <img class="img-fluid rounded-circle mb-4 d-inline-block" src="/assets/img/testimonial/client-4-sivakumar.png"
                        alt="client-image">
                    <h4 class="text-white">Sivakumar Boju
                    </h4>
                    <h6 class="text-light mb-4">Senior iOS Developer</h6>
                    Victoria worked as a key designer in some of our upcoming and existing mobile applications. Her designs are very creative and clean. I personally enjoyed working with her. She is very accommodative and a great team player. I will definitely would like to work with her in future. She is a great person to work with and will certainly add values to any project.</p>
                    
                </div> 
                <!-- slider-item -->
                 <div class="text-center testimonial-content">
                    <i class="ti-quote-right text-white icon mb-4 d-inline-block"></i>
                    <p class="text-white mb-4">
                        <img class="img-fluid rounded-circle mb-4 d-inline-block" src="/assets/img/testimonial/client-5-john.png"
                        alt="client-image">
                    <h4 class="text-white">John Brill Pappin</h4>
                    <h6 class="text-light mb-4">Senior Android Team Lead</h6>
                    I worked with Victoria on a mobile application that had a difficult colour scheme, and she was quick to understand the nuances of designing for mobile devices.</p>
                    
                </div>
        

                <!-- slider-item -->
                <div class="text-center testimonial-content">
                    <i class="ti-quote-right text-white icon mb-4 d-inline-block"></i>
                    <p class="text-white mb-4">
                        <img class="img-fluid rounded-circle mb-4 d-inline-block" src="/assets/img/testimonial/client-6-eran.png"
                        alt="client-image">
                    <h4 class="text-white">Eran Dar Rozenberg</h4>
                    <h6 class="text-light mb-4">Senior Product Manager</h6>
                    I was interviewing Victoria and working as her Direct Manager. You can see immediately that Victoria is very professional and dedicated. Her designs are creative and innovative but at the same time she considers well the user and the target audience, with high attention to details. I believe she contributes a lot with her talent and her passion to what she does.
                        It was a pleasure working with Victoria and I would be only happy to work with her again.</p>
                   
                </div>
                <!-- slider-item -->
                <div class="text-center testimonial-content">
                    <i class="ti-quote-right text-white icon mb-4 d-inline-block"></i>
                    <p class="text-white mb-4">
                        <img class="img-fluid rounded-circle mb-4 d-inline-block" src="/assets/img/testimonial/client-7-nir.png"
                        alt="client-image">
                    <h4 class="text-white">Nir Safri</h4>
                    <h6 class="text-light mb-4">Head of Game Design</h6>
                    I worked with Victoria on the Slotagram Game where we were collaborating together in the same team.
                        Victoria was designing and illustrating the visual appeal and usability for Facebook and mobile game platforms.
                        Immediately, she has dived-in quickly and understood the creative process and concepts. She is innovative and brought fresh ideas, but at the same time that are functional. Not only, Victoria is a professional, with an eye for detail but also a good team player, reliable and always helpful.
                        I believe she is a great person to work with and could be a great assets to any company.</p>
                    
                </div>
                <!-- slider-item -->
                <div class="text-center testimonial-content">
                    <i class="ti-quote-right text-white icon mb-4 d-inline-block"></i>
                    <p class="text-white mb-4">
                        <img class="img-fluid rounded-circle mb-4 d-inline-block" src="/assets/img/testimonial/client-8-cherisse.png"
                        alt="client-image">
                    <h4 class="text-white">Cherisse Thurab</h4>
                    <h6 class="text-light mb-4">Art Director</h6>
                    Victoria is an upbeat, dedicated and talented designer, who is comfortable working across multiple platforms (Digital and Traditional) and multiple languages. She has strong ideas and hands-on capabilities. Her global experience in London and Tel Aviv gives her a sharp creative eye, while her sweet nature and drive gives her the ability to complement / support any team. I highly recommend Vicki for any creative undertaking. </p>
                    
                </div>
                <!-- slider-item -->
                <div class="text-center testimonial-content">
                    <i class="ti-quote-right text-white icon mb-4 d-inline-block"></i>
                    <p class="text-white mb-4"><img class="img-fluid rounded-circle mb-4 d-inline-block" src="/assets/img/testimonial/client-9-anna.png"
                        alt="client-image">
                    <h4 class="text-white">Anna Hebenstreit</h4>
                    <h6 class="text-light mb-4">Legal Adviser</h6>
                    It was my pleasure to work with Victoria on a small, but very important personal project of mine. She was always open to new ideas, patient with new requests and, despite the tight schedule, delivered on time and at a very reasonable cost!.</p>
                    
                </div>

            </div>
        </div>
    </div>
</section>
<!-- /testimonial -->