---
layout: main
has_intro: false
all_tags: true
---

<!-- top bar -->
<div class="top-bar">
    <h1>blog</h1>
    <p><a href="/">Home</a> / Blog</p>
</div>
<!-- end top bar -->

<!-- main container -->
<div class="main-container portfolio-inner clearfix">
    <!-- portfolio div -->
    <div class="portfolio-div">
        <div class="portfolio">

            {% include tags.html %}

            <div class="no-padding portfolio_container">
                {% assign posts = site.posts %}
                {% for post in posts %}
                    {% if post.categories contains 'blog' and post.published != false %}
                        {% include post-preview.html %}
                    {% endif %}
                {% endfor %}
            </div>
            <!-- end portfolio_container -->
        </div>
        <!-- portfolio -->
    </div>
    <!-- end portfolio div -->
</div>
<!-- end main container -->