---
layout: main
has_intro: false
---

<!-- top-bar -->
<div class="top-bar" style="xbackground-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url({{page.featured_image}});">
    <h1>{{page.title}}</h1>
    <p><a href="/">Home</a> / <a href="/portfolio">portfolio</a></p>
</div>
<!-- end top-bar -->

<!-- main-container -->
<div class="container main-container">

    <div class="col-md-9">
        {{content}}
    </div>

    <div class="col-md-3">
        <ul class="cat-ul">
            {% for tag in site.tags %}
                {% capture tag_name %}{{ tag | first }}{% endcapture %}
                <li><i class="ion-ios-circle-filled"></i> {{ tag_name }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
<!-- end main-container -->