---
layout: default
---
<header class="header" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
    {% include main-navigation.html %}
</header> <!-- / END HOME SECTION  -->
<div id="content" class="site-content">
    <div class="container">
        <div class="content-left-wrap col-md-9">
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <header class="page-header">
                        <h1 class="page-title">Category: {{page.name}}</h1>
                    </header><!-- .page-header -->
                    {% assign key = page.key%}
                    {% for post in site.categories[key] %}
                    {% include post-preview.html %}
                    {% endfor %}
                </main><!-- #main -->
            </div><!-- #primary -->
        </div><!-- .content-left-wrap -->
        {% include side-bar.html %}
    </div><!-- .container -->
</div>