---
layout: home-layout
background: /assets/images/1_WP_CurlyDesHomePage_Image2-e1426140816395.jpg
---
<section class="focus " id="focus">
    <div class="container">
        <!-- SECTION HEADER -->
        <div class="section-header">
            <!-- SECTION TITLE AND SUBTITLE -->
            <h2 class="dark-text">What I do</h2>
            <div class="section-legend">I am working across different channels; designing to a brief
                agreed with the client. <br /> Producing innovative, creative and functional visual
                concepts</div>
        </div>
        <div class="row">
        </div>
    </div> <!-- / END CONTAINER -->
</section> <!-- / END FOCUS SECTION -->
<section class="separator-one" id="ribbon_bottom">
    <div class="color-overlay">
        <h3 class="container text" data-scrollreveal="enter left after 0s over 1s">OH, HELLO THERE. <br />
            Do you want to see my works ?</h3>
        <div data-scrollreveal="enter right after 0s over 1s"><a href="/category/portfolio/" class="btn btn-primary custom-button green-btn">Visit
                my Portfolio</a></div>
    </div>
</section>
<section class="about-us " id="aboutus">
    <div class="container">
        <!-- SECTION HEADER -->
        <div class="section-header">
            <h2 class="white-text">About me</h2>
            <div class="white-text section-legend">100% Creativity</div>
        </div><!-- / END SECTION HEADER -->
        <!-- 3 COLUMNS OF ABOUT US-->
        <div class="row">
            <!-- COLUMN 1 - BIG MESSAGE ABOUT THE COMPANY-->
            <div class="col-lg-4 col-md-4 column zerif-rtl-big-title">
                <div class="big-intro" data-scrollreveal="enter left after 0s over 1s">Research,
                    Innovation &amp; Functionality are my principles</div>
            </div>
            <div class="col-lg-4 col-md-4 column zerif_about_us_center text_and_skills" data-scrollreveal="enter bottom after 0s over 1s">
                <p>I grew up drawing, painting and creating. I followed my heart and completed Fine
                    Arts and Design School, graduating with a B.Design and MA Interactive Media Design
                    degrees. <br /> <br />One of my values is that I am passionate about what I do; so
                    when I design it does not feel like I am working! The challenge I have to express
                    myself with designs that are user friendly and functional at the same time
                    inspiring to my clients - is what inspires and motivates me. Research, innovation
                    and functionality are my principles, together with strong creative thinking, sense
                    of colour and aesthetics. <br /> <br />Professionally I have experience in
                    designing projects across a range of design disciplines, from initial brief to the
                    last detail. Through working collaboratively with various clients and colleagues to
                    finding creative solutions for customer needs. This has included design of online
                    and offline materials, graphics, illustrations, web/ mobile UI and 3D modeling. In
                    industries including Gaming, New Media, Entertainment, Fashion, Beauty,
                    Exhibitions, E-commerce &amp; Retail. </p>
            </div>
            <div class="col-lg-4 col-md-4 column zerif-rtl-skills ">

                <ul class="skills" data-scrollreveal="enter right after 0s over 1s">
                    <!-- SKILL ONE -->
                    <li class="skill skill_1">
                        <div class="skill-count"><input role="presentation" type="text" id="100-creative-mind" value="100"
                                data-thickness=".2" class="skill1" tabindex="-1"></div>
                        <div class="section-legend"><label for="100-creative-mind">100% CREATIVE MIND</label></div>
                        <p>I believe in 'Form Follow Function'. I find both creative &amp; functional
                            solutions</p>
                    </li>
                    <!-- SKILL TWO -->
                    <li class="skill skill_2">
                        <div class="skill-count"><input role="presentation" type="text" id="ux-research-interactive-design"
                                value="100" data-thickness=".2" class="skill2" tabindex="-1"></div>
                        <div class="section-legend"><label for="ux-research-interactive-design">UX
                                RESEARCH &amp; INTERACTIVE DESIGN</label></div>
                        <p>A big part of what I do involves a research, customer journey, personas,
                            latest technologies and the story behind the challenge</p>
                    </li>
                    <!-- SKILL THREE -->
                    <li class="skill skill_3">
                        <div class="skill-count"><input role="presentation" type="text" id="design-illustration" value="100"
                                data-thickness=".2" class="skill3" tabindex="-1"></div>
                        <div class="section-legend"><label for="design-illustration">Design &amp;
                                Illustration</label></div>
                        <p>The other half I create hands on functional solutions. Designing for UI
                            elements, websites, mobile apps, print, branding, visual representation
                            &amp; more</p>
                    </li>
                    <!-- SKILL FOUR -->
                    <li class="skill skill_4">
                        <div class="skill-count"><input role="presentation" type="text" id="extra" value="50"
                                data-thickness=".2" class="skill4" tabindex="-1"></div>
                        <div class="section-legend"><label for="extra">EXTRA</label></div>
                        <p>3D Modelling, Video Editing &amp; Effects</p>
                    </li>
                </ul>
            </div> <!-- / END SKILLS COLUMN-->
        </div> <!-- / END 3 COLUMNS OF ABOUT US-->
        <!-- CLIENTS -->
    </div> <!-- / END CONTAINER -->
</section> <!-- END ABOUT US SECTION -->
<section class="testimonial " id="testimonials">
    <div class="container">
        <div class="section-header">
            <h6 class="white-text section-legend">I have worked with various clients and colleagues
                internationally - check what they say about my work. <br /> Read more in my LinkedIn
                profile</h6>
        </div>
        <div class="row" data-scrollreveal="enter right after 0s over 1s">
            <div class="col-md-12">
                <div id="client-feedbacks" class="owl-carousel owl-theme  "></div>
            </div>
        </div>
    </div>
</section>
<section class="purchase-now" id="ribbon_right">
    <div class="container">
        <div class="row">
            <div class="col-md-9" data-scrollreveal="enter left after 0s over 1s">
                <h3 class="white-text">Do you want to know more ? <br /> Visit my Linkedin or get in
                    touch by email: victoria@curlydesigner.com </h3>
            </div>
            <div class="col-md-3" data-scrollreveal="enter right after 0s over 1s"><a href="http://ca.linkedin.com/in/curlydesigner"
                    class="btn btn-primary custom-button red-btn">Visit my Linkedin</a></div>
        </div>
    </div>
</section>