---
layout: main
has_intro: false
---

<!-- top-bar -->
<div class="top-bar post" style="{% if page.top_bar_image %} background: -webkit-linear-gradient( rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url('{{page.top_bar_image}}');background: linear-gradient( rgba(255, 255, 255, 0.8), rgba(177, 177, 177, 0.8)), url('{{page.top_bar_image}}');{% endif %}">
    <h1>{{page.title}}</h1>
    <p><a href="/">Home</a> / <a href="/category/portfolio">Portfolio</a></p>
</div>
<!-- end top-bar -->

<!-- main-container -->
<div class="container main-container post portfolio-post">

    <div class="col-md-9">
        {{content}}
    </div>

    <div class="col-md-3">
        <ul class="cat-ul">
            {% for tag in site.tags %}
                {% capture tag_name %}{{ tag | first }}{% endcapture %}
                <li><a href="{{site.baseurl}}/tag/{{tag_name | slugify}}" class="{% if page.tag == tag_name %}active{% endif %}">{{ tag_name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
<!-- end main-container -->
